<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>{{ title }}</title>
    <style>
        :root {
            --clr-red: hsl(0, 62%, 46%);
            --clr-red-dark: hsl(0, 63%, 38%);
            --clr-bg: hsl(0, 0%, 90%);
        }

        body {
            background-color: var(--clr-bg);
            color: black;
            display: grid;
            grid-template-rows: max-content max-content 1fr max-content;
            grid-template-columns: 1fr;
            min-height: 100vh;
        }

        .container {
            width: 100%;
        }

        @media screen and (max-width: 1023px) {

            .fw-header,
            .fw-main .container,
            .fw-footer {
                padding-inline: 1.5rem;
            }
        }

        .fw-header {
            padding-block: 2rem;
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            align-items: center;
            gap: 1rem;
        }

        .fw-header span {
            color: var(--clr-red);
        }

        .fw-nav {
            --border-bottom-size: 5px;
            --z-index-nav: 1000;
            background-color: var(--clr-red);
            color: white;
            position: sticky;
            top: 0;
            z-index: var(--z-index-nav);
        }

        .fw-nav ul {
            display: flex;
            flex-wrap: wrap;
        }

        .fw-nav::before {
            content: "";
            display: block;
            height: var(--border-bottom-size);
            background-color: black;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        .fw-nav a {
            color: inherit;
            background-color: inherit;
            display: block;
            padding: 1.5rem 1.25rem;
            font-weight: 600;
            font-size: 1.3em;
            border-bottom: var(--border-bottom-size) solid black;
            border-right: .125rem solid var(--clr-red-dark);
            transition: all .25s;
            position: relative;
            z-index: 2;
        }

        .fw-nav li {
            color: inherit;
            background-color: inherit;
        }

        .fw-nav li:hover,
        .fw-nav li:focus {
            background-color: white;
            color: black;
        }

        .fw-nav .active a {
            background-color: white;
            color: black;
        }

        ul.fw-subnav {
            display: none;
            position: absolute;
        }

        .fw-subnav {
            flex-direction: column;
            background-color: white;
            color: black;
        }

        .fw-subnav a {
            font-weight: normal;
            font-size: 0.9em;
            border: none;
            transition: all .25s;
            padding: 0.75rem 1.25rem;
        }

        .fw-subnav a:hover {
            background-color: var(--clr-red);
            color: white;
        }

        .fw-with-subnav:hover ul {
            display: flex;
        }

        .fw-with-subnav>a::after {
            content: "\2771";
            font-weight: 300;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            transform: rotate(90deg);
        }

        .fw-footer {
            background-color: black;
            color: white;
            padding-block: 1.25rem;
        }

        .fw-footer>* {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: space-between;
        }

    </style>
</head>

<body>
    <header class="container fw-header">
        <img src="/images/FWEDI_Logo.png" alt="" width="75" height="75">
        <h1 class="is-size-3 has-text-weight-bold">Feuerwehr Ebikon-Dierikon </h1>
        <h2 class="has-text-weight-bold is-size-4">Notruf <span class="is-size-2">118</span></h2>
    </header>
    <nav class="container fw-nav">
        <ul>
            <li class="active"><a>Home</a></li>
            <li><a>Über uns</a></li>
            <li><a>Entstehung</a>

            </li>
            <li class="fw-with-subnav"><a>Infos und News</a>
                <ul class="fw-subnav">
                    <li><a href="">Einsätze</a></li>
                    <li><a href="">Übungsberichte</a></li>
                    <li><a href="">Events</a></li>
                    <li><a href="">Anlässe</a></li>
                </ul>
            </li>
            <li><a>Downloads</a></li>
        </ul>
    </nav>
    <main class="fw-main">
        {{ content | safe }}
    </main>
    <footer class="fw-footer">
        <div class="container">
            <div>
                <address style="font-style:normal;">
                    <strong style="color: white;">Feuerwehr Ebikon-Dierikon</strong><br>
                    Dorfstrasse 15a<br>
                    6030 Ebikon
                </address>
            </div>
            <div>
                <p>Notruf : 118</p>
                <p>Magazin Ebikon: 041 442 18 00</p>
                <p>(Nur im Ereignisfall bedient)</p>
            </div>
            <div>
                <p><strong style="color: white;">Wichtige Nummern</strong></p>
                <p style="display: flex; justify-content: space-between; gap: 1rem;"><span>Toxicologie</span> <span>Tel.
                        145</span></p>
                <p style="display: flex; justify-content: space-between; gap: 1rem;"><span>Feuerwehr</span> <span>Tel.
                        118</span></p>
                <p style="display: flex; justify-content: space-between; gap: 1rem;"><span>Ambulanz</span> <span>Tel.
                        144</span></p>
                <p style="display: flex; justify-content: space-between; gap: 1rem;"><span>Polizei</span> <span>Tel.
                        117</span></p>
                <p style="display: flex; justify-content: space-between; gap: 1rem;"><span>Rega</span> <span>Tel.
                        1414</span></p>
            </div>
        </div>
    </footer>
</body>

</html>
