<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Feuerwehr Ebikon-Dierikon | {{ title }}</title>
    <style>
        :root {
            --clr-red: hsl(0, 62%, 46%);
            --clr-red-dark: hsl(0, 63%, 38%);
            --clr-bg: hsl(0, 0%, 90%);
            --clr-dark: hsl(0, 0%, 12%);
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            background-color: var(--clr-bg);
            color: black;
            display: grid;
            grid-template-rows: max-content max-content 1fr max-content;
            grid-template-columns: 1fr;
            min-height: 100vh;
        }

        .container {
            width: 100%;
        }

        @media screen and (max-width: 1023px) {

            .fw-header,
            .fw-main .container,
            .fw-footer {
                padding-inline: 1.5rem;
            }
        }

        .button,
        .card,
        .box,
        .input,
        .textarea,
        .select select {
            border-radius: 0;
        }

        .button.is-info {
            background-color: var(--clr-dark);
        }

        .button.is-info:hover {
            background-color: var(--clr-red-dark);
        }

        .fw-header {
            padding-block: 2rem;
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            align-items: center;
            gap: 1rem;
        }

        .fw-header span+span {
            color: var(--clr-red);
        }

        .fw-nav-wrapper {
            position: sticky;
            top: 0;
            background-color: var(--clr-bg);
            z-index: 30;
        }

        .fw-nav {
            --border-bottom-size: 5px;
            background-color: var(--clr-red);
            color: white;
        }

        .fw-nav ul {
            display: flex;
            flex-wrap: wrap;
        }

        .fw-nav::before {
            content: "";
            display: block;
            height: var(--border-bottom-size);
            background-color: black;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        .fw-nav a {
            color: inherit;
            background-color: inherit;
            display: block;
            padding: 1.5rem 1.25rem;
            font-weight: 600;
            font-size: 1.3em;
            border-bottom: var(--border-bottom-size) solid black;
            border-right: .125rem solid var(--clr-red-dark);
            transition: all .25s;
            position: relative;
            z-index: 2;
        }

        .fw-nav li {
            color: inherit;
            background-color: inherit;
        }

        .fw-nav li:hover,
        .fw-nav li:focus {
            background-color: white;
            color: black;
        }

        .fw-nav .active a {
            background-color: white;
            color: black;
        }

        ul.fw-subnav {
            display: none;
            position: absolute;
            box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
        }

        .fw-subnav {
            flex-direction: column;
            background-color: white;
            color: black;
        }

        .fw-subnav a {
            font-weight: normal;
            font-size: 0.95em;
            border: none;
            transition: all .25s;
            padding: 0.75rem 1.25rem;
        }

        .fw-subnav a:hover {
            background-color: var(--clr-red);
            color: white;
        }

        .fw-with-subnav:hover ul {
            display: flex;
        }

        .fw-with-subnav>a::after {
            content: "\2771";
            font-weight: 300;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            transform: rotate(90deg);
        }

        .fw-footer {
            background-color: black;
            color: white;
            padding-block: 1.25rem;
        }

        .fw-footer>* {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: space-between;
        }

        .fw-image-with-text {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .fw-image-with-text .container {
            padding-block: 18rem 5rem;
        }

        .fw-columns,
        .fw-contact {
            padding-block: 5rem;
        }

        .fw-columns.fw-dark {
            background-color: var(--clr-dark);
            color: white;
        }

        .fw-columns.fw-red {
            background-color: var(--clr-red-dark);
            color: white;
        }

        .fw-maps iframe {
            width: 100%;
        }

        .back-to-top a::before {
            position: fixed;
            z-index: 1000;
            bottom: 1.5rem;
            right: 1.5rem;
            height: 2.5rem;
            width: 2.5rem;
            content: "\2771";
            background-color: white;
            transform: rotate(-90deg);
            box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
            display: grid;
            place-items: center;
        }

        .back-to-top a:hover::before {
            background-color: var(--clr-red);
        }

        a.navbar-burger,
        .fw-mobile-nav {
            display: none;
        }

        @media screen and (max-width: 900px) {
            .fw-nav ul li:not(.active):not(.fw-nav-toggler) {
                display: none;
            }

            .fw-nav ul {
                justify-content: space-between;
            }

            a.navbar-burger {
                display: block;
                height: 100%;
                padding-inline: 2rem;
            }

            .fw-mobile-nav.show {
                display: grid;
            }

            .fw-mobile-nav {
                box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
                background-color: white;
            }

            .fw-mobile-nav a {
                display: block;
                padding: 0.5rem 1rem;
                color: black;
                transition: all .25s;
            }

            .fw-mobile-nav a:hover {
                background-color: var(--clr-red);
                color: white;
            }

            .fw-mobile-nav li li {
                margin-left: 2rem;
            }
        }

    </style>
</head>

<body>
    <div class="modal" data-modal>
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <div class="fw-emoji" style="font-size: 3em;"> 🔥</div>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Trockenheit</strong>
                                <br />
                                Bedingtes Feuerverbot im Wald und in Waldesnähe/im Freien: Feuer nur auf
                                festeingerichteten Feuerstellen toleriert, jeweils mit der angebrachten Vorsicht.
                            </p>
                            <button class="button is-info" data-dismiss-modal-button>Habe ich gelesen</button>
                            <br /><br />
                            <p><small><em>Notiz: Dieses Fenster erscheint alle 10 Minuten.</em></small></p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" data-dismiss-modal-close></button>
    </div>
    <div class="back-to-top">
        <a href="#top"></a>
    </div>
    <header class="container fw-header">
        <img src="/images/FWEDI_Logo.png" alt="" width="75" height="75">
        <h1 class="is-size-3 has-text-weight-bold is-size-4-mobile">Feuerwehr Ebikon-Dierikon </h1>
        <h2 class="is-hidden-mobile">
            <span class="has-text-weight-bold is-size-4 is-uppercase">Notruf </span>
            <span class="has-text-weight-bold is-size-2">118 </span>
        </h2>
    </header>
    <div class="fw-nav-wrapper">
        <nav class="container fw-nav">
            <ul>
                <li class="active"><a>Home</a></li>
                <li><a>Über uns</a></li>
                <li><a>Entstehung</a></li>
                <li class="fw-with-subnav"><a>Infos und News</a>
                    <ul class="fw-subnav">
                        <li><a href="">Einsätze</a></li>
                        <li><a href="">Übungsberichte</a></li>
                        <li><a href="">Events</a></li>
                        <li><a href="">Anlässe</a></li>
                    </ul>
                </li>
                <li><a>Downloads</a></li>
                <li class="fw-nav-toggler">
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-nav-toggler>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="container fw-mobile-nav" data-mobile-nav>
            <ul>
                <li class="active"><a>Home</a></li>
                <li><a>Über uns</a></li>
                <li><a>Entstehung</a></li>
                <li><a>Infos und News</a>
                    <ul class="fw-mobile-subnav">
                        <li><a href="">Einsätze</a></li>
                        <li><a href="">Übungsberichte</a></li>
                        <li><a href="">Events</a></li>
                        <li><a href="">Anlässe</a></li>
                    </ul>
                </li>
                <li><a>Downloads</a></li>
            </ul>
        </nav>
    </div>
    <main class="fw-main">
        {{ content | safe }}
    </main>
    <footer class="fw-footer">
        <div class="container">
            <div>
                <address style="font-style:normal;">
                    <strong style="color: white;">Feuerwehr Ebikon-Dierikon</strong><br />
                    Dorfstrasse 15a<br />
                    6030 Ebikon
                </address>
            </div>
            <div>
                <p>Notruf : 118</p>
                <p>Magazin Ebikon: 041 442 18 00</p>
                <p>(Nur im Ereignisfall bedient)</p>
            </div>
            <div>
                <p><strong style="color: white;">Wichtige Nummern</strong></p>
                <p style="display: flex; justify-content: space-between; gap: 1rem;"><span>Toxicologie</span> <span>Tel.
                        145</span></p>
                <p style="display: flex; justify-content: space-between; gap: 1rem;"><span>Feuerwehr</span> <span>Tel.
                        118</span></p>
                <p style="display: flex; justify-content: space-between; gap: 1rem;"><span>Ambulanz</span> <span>Tel.
                        144</span></p>
                <p style="display: flex; justify-content: space-between; gap: 1rem;"><span>Polizei</span> <span>Tel.
                        117</span></p>
                <p style="display: flex; justify-content: space-between; gap: 1rem;"><span>Rega</span> <span>Tel.
                        1414</span></p>
            </div>
        </div>
    </footer>
    <script>
        (function modal() {
            const MODAL_STORAGE_KEY = "modal-dismiss-until";
            const DIMISS_FOR_MS = 10 * 60 * 1000;
            const modal = document.querySelector("[data-modal]");
            const modalDismissButton = document.querySelector("[data-dismiss-modal-button]");
            const modalDismissClose = document.querySelector("[data-dismiss-modal-close]");

            const lastTimeDismissed = localStorage.getItem(MODAL_STORAGE_KEY);

            try {
                if (lastTimeDismissed) {
                    const dateParsed = new Date(JSON.parse(lastTimeDismissed).lastTimeDismissed);
                    const now = new Date();
                    if (now - dateParsed > DIMISS_FOR_MS) {
                        showModal();
                    }
                } else {
                    showModal();
                }
            } catch (error) {
                showModal();
            }

            function showModal() {
                modal.classList.add("is-active");
            }

            function dismiss() {
                const now = new Date();
                modal.classList.remove("is-active");
                localStorage.setItem(MODAL_STORAGE_KEY, JSON.stringify({ lastTimeDismissed: now }))
            }

            modalDismissButton.addEventListener("click", dismiss);
            modalDismissClose.addEventListener("click", dismiss);
        })();

        (function upCount() {
            const observer = new IntersectionObserver(() => {
                console.log("check");
                const counter = document.querySelectorAll("[data-up-count]");
                counter.forEach(c => {
                    const attrVal = c.getAttribute("data-up-count");
                    const hasK = attrVal.includes("K");
                    const goal = hasK ? Number(attrVal.substring(0, attrVal.length - 1)) : Number(attrVal);
                    c.innerHTML = 0;
                    const numOfValues = 25;
                    for (let i = 0; i < numOfValues; i++) {
                        const newValue = Math.floor(goal / (numOfValues - i));
                        setTimeout(() => {
                            c.innerHTML = hasK ? newValue + "K" : newValue;
                        }, (i * 100));
                    }
                });
            });
            observer.observe(document.getElementById("fw-observer"));
        })();

        (function navToggler() {
            const toggler = document.querySelector("[data-nav-toggler]");
            const nav = document.querySelector("[data-mobile-nav]");
            toggler.addEventListener("click", () => {
                if (nav.classList.contains("show")) {
                    nav.classList.remove("show");
                } else {
                    nav.classList.add("show");
                }
            })

        })();
    </script>
</body>

</html>
