---
layout: base.njk
title: Startseite
---

<div class="fw-image-with-text" style="background-image: url('/images/Pikettfahrzeug-FWEDI.jpg')">
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-1 is-uppercase" style="color: var(--clr-red);">Einsatz&shy;mittel</h1>
                            <p>Um den Auftrag zu erfüllen, ist die Feuerwehr mit spezialisierter Ausrüstung und
                                Fahrzeugen
                                ausgerüstet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fw-columns">
    <div class="container">
        <div class="columns">
            <div class="column"><img src="/images/_DSC9508.JPG" alt="">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2">Die Einsatzstatistik ist aktualisiert</h2>
                <p class="mb-4">Die Einsatzstatistik wurde aktualisiert. Viel Spass beim Stöbern auf unserer Webseite.
                </p>
                <p><button class="button is-info">Lies mehr...</button></p>
            </div>
            <div class="column"><img src="/images/P1031552.JPG" alt="">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2">Adventsfenster 2021 findet nicht statt</h2>
                <p>Diese Tassen bleiben auch in diesem Jahr leider leer!</p>
                <p>Mit Bedauern müssen wir Euch mitteilen, dass wir auch in diesem Jahr unser Adventsfenster nicht
                    durchführen werden. Aufgrund der neueren Entwicklungen in Bezug auf Covid 19 haben wir uns
                    entschieden, auf eine Durchführung zu verzichten.</p>
            </div>
            <div class="column"><img src="/images/TLF-Wisu-FWEDI.jpg" alt="">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2">Training auf der mobilen
                    Brandsimulationsanlage</h2>
                <p>Donnerstag 17:45. Die ersten nervösen Atemschutz Eingeteilten und Helfer trafen im Magazin Ebikon
                    ein. Alle waren gut gelaunt und...</p>
            </div>
        </div>
    </div>
</div>

<div class="fw-columns fw-dark">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2" style="color: var(--clr-red);">Die
                    Einsatzstatistik ist aktualisiert</h2>
                <p>Die Einsatzstatistik wurde aktualisiert. Viel Spass beim Stöbern auf unserer Webseite.</p>
            </div>
            <div class="column">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2" style="color: var(--clr-red);">
                    Adventsfenster 2021 findet nicht statt</h2>
                <p>Diese Tassen bleiben auch in diesem Jahr leider leer!</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2" style="color: var(--clr-red);">Die
                    Einsatzstatistik ist aktualisiert</h2>
                <p>Die Einsatzstatistik wurde aktualisiert. Viel Spass beim Stöbern auf unserer Webseite.</p>
            </div>
            <div class="column">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2" style="color: var(--clr-red);">
                    Adventsfenster 2021 findet nicht statt</h2>
                <p>Diese Tassen bleiben auch in diesem Jahr leider leer!</p>
            </div>
        </div>
    </div>
</div>

<div class="fw-contact">
    <div class="container">
        <h1 class="is-size-3 has-text-weight-bold mb-3">Kontaktiere uns</h1>
        <div class="columns">
            <div class="column is-one-quarter">
                <address style="font-style:normal;">
                    <strong style="color: black;">Feuerwehr Ebikon-Dierikon</strong><br />
                    Dorfstrasse 15a<br />
                    6030 Ebikon<br /><br />
                    041 442 18 00<br />
                    <em>(Nur im Ereignisfall bedient)</em>
                </address>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Name / Verein / Firma / Schule ">
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-Mail</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="E-Mail">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Betreff</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Betreff">
                    </div>
                </div>


                <div class="field">
                    <label class="label">Zweck</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option> Ich bin am Feuerwehrdienst interessiert</option>
                                <option> Wir sind an einer Löschdemo interessiert</option>
                                <option> Wir sind an einer Führung interessiert</option>
                                <option> Ich habe folgende Bemerkungen / Anregungen</option>
                                <option> Ich wünsche Ihren Rückruf </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Nachricht</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Nachricht"></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info">Absenden</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fw-maps">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2716.8574222210364!2d8.337317416231524!3d47.08225953204332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ffc140d3e1edf%3A0xf943caa55c3bd4a8!2sDorfstrasse%2015a%2C%206030%20Ebikon!5e0!3m2!1sen!2sch!4v1659278221828!5m2!1sen!2sch"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
