---
layout: base.njk
title: Startseite
---

<div class="fw-image-with-text" style="background-image: url('/images/Pikettfahrzeug-FWEDI.jpg')">
    <div class="container"></div>
</div>

<div class="fw-columns">
    <div class="container">
        <div class="columns">
            <div class="column"><img src="/images/_DSC9508.JPG" alt="">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2">Elementarereignis am 25.07.2021</h2>
                <p class="mb-4">Am 25.07.2021 zog eine Regenzelle über diverse Gebiete der Zentralschweiz. Auch die
                    Gemeinden Ebikon und Dierikon waren von dieser betroffen. 44 Angehörige der Feuerwehr
                    Ebikon-Dierikon waren bei über 65 Einsätzen im Dauereinsatz. Die Hauptaufgaben waren: Das Sperren
                    von Strassen, Kontrolle vom Fliessgewässern und Auspumpen von vollgelaufenen Kellern und Garagen.
                </p>
                <p><button class="button is-info">Lies mehr...</button></p>
            </div>
            <div class="column"><img src="/images/P1031552.JPG" alt="">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2">Adventsfenster 2021 findet nicht statt</h2>
                <p>Diese Tassen bleiben auch in diesem Jahr leider leer!</p>
                <p>Mit Bedauern müssen wir Euch mitteilen, dass wir auch in diesem Jahr unser Adventsfenster nicht
                    durchführen werden. Aufgrund der neueren Entwicklungen in Bezug auf Covid 19 haben wir uns
                    entschieden, auf eine Durchführung zu verzichten.</p>
            </div>
            <div class="column"><img src="/images/TLF-Wisu-FWEDI.jpg" alt="">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2">Training auf der mobilen
                    Brand&shy;simulations&shy;anlage</h2>
                <p>Donnerstag 17:45. Die ersten nervösen Atemschutz Eingeteilten und Helfer trafen im Magazin Ebikon
                    ein. Alle waren gut gelaunt und...</p>
            </div>
        </div>
    </div>
</div>


<div class="fw-columns fw-dark">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2" style="color: var(--clr-red);">Training auf
                    der mobilen Brand­simulations­anlage</h2>
                <p>nerstag 17:45. Die ersten nervösen Atemschutz Eingeteilten und Helfer trafen im Magazin Ebikon ein.
                </p>
            </div>
            <div class="column">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2" style="color: var(--clr-red);">
                    Adventsfenster 2021 findet nicht statt</h2>
                <p>Diese Tassen bleiben auch in diesem Jahr leider leer!</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2" style="color: var(--clr-red);">
                    Elementarereignis am 25.07.2021</h2>
                <p>Am 25.07.2021 zog eine Regenzelle über diverse Gebiete der Zentralschweiz.</p>
            </div>
            <div class="column">
                <h2 class="is-size-4 is-uppercase has-text-weight-bold mb-2" style="color: var(--clr-red);">
                    Adventsfenster 2021 findet nicht statt</h2>
                <p>Diese Tassen bleiben auch in diesem Jahr leider leer!</p>
            </div>
        </div>
    </div>
</div>

<div class="fw-contact">
    <div class="container">
        <h1 class="is-size-3 has-text-weight-bold mb-3">Kontaktiere uns</h1>
        <div class="columns">
            <div class="column is-one-quarter">
                <address style="font-style:normal;">
                    <strong style="color: black;">Feuerwehr Ebikon-Dierikon</strong><br />
                    Dorfstrasse 15a<br />
                    6030 Ebikon<br /><br />
                    041 442 18 00<br />
                    <em>(Nur im Ereignisfall bedient)</em>
                </address>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Name / Verein / Firma / Schule ">
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-Mail</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="E-Mail">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Betreff</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Betreff">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Nachricht</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Nachricht"></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info">Absenden</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fw-columns fw-red" id="fw-observer">
    <div class="container">
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading"><br> Fahrzeuge</p>
                    <p class="title" style="color: white;" data-up-count="3456">3456</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Anzahl Angehörige <br>der Feuerwehr</p>
                    <p class="title" style="color: white;" data-up-count="90">90</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Einsätze <br>Jahr 2022</p>
                    <p class="title" style="color: white;" data-up-count="65">65</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Schläckzeug <br> in kg/Jahr</p>
                    <p class="title" style="color: white;" data-up-count="789">789</p>
                </div>
            </div>
        </nav>
    </div>
</div>